
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        {{!-- a form for collecting information to add to mysql --}}
        <form class="clearfix mb-4" action="POST">

          <div class="form-group">
            <label for="create-name">Name</label>
            <input type="text" id="create-name" class="form-control" aria-describedby="create-name"
              placeholder="Enter name">
          </div>

          <div class="form-group">
            <label for="create-alchaholic">Alchaholic</label>
            <input type="text" id="create-alchaholic" class="form-control" aria-describedby="create-alchaholic"
              placeholder="Will this drink be alchaholic?">
          </div>

          <div class="form-group">
            <label for="create-category">Category</label>
            <input type="text" id="create-category" class="form-control" aria-describedby="create-category"
              placeholder="What kind of drink is it?">
          </div>

          <div class="form-group">
            <label for="create-glass">Glass</label>
            <input type="text" id="create-glass" class="form-control" aria-describedby="create-glass"
              placeholder="What type of glass does it go into?">
          </div>

          <div class="form-group">
            <label for="create-ingredient1">Ingredient</label>
            <input type="text" id="create-ingredient1" class="form-control" aria-describedby="create-ingredient1"
              placeholder="Enter first ingredient">
          </div>
          <div class="form-group">
            <label for="create-ingredientVol1">Ingredient Volume</label>
            <input type="text" id="create-ingredientVol1" class="form-control" aria-describedby="create-ingredientVol1"
              placeholder="Enter first ingredient">
          </div>

          <div class="form-group">
            <label for="create-ingredient2">Ingredient</label>
            <input type="text" id="create-ingredient2" class="form-control" aria-describedby="create-ingredient2"
              placeholder="Enter second ingredient">
          </div>
          <div class="form-group">
            <label for="create-ingredientVol2">Ingredient Volume</label>
            <input type="text" id="create-ingredientVol2" class="form-control" aria-describedby="create-ingredientVol2"
              placeholder="Enter second ingredient">
          </div>

          <div class="form-group">
            <label for="create-ingredient3">Ingredient</label>
            <input type="text" id="create-ingredient3" class="form-control" aria-describedby="create-ingredient3"
              placeholder="Enter third ingredient">
          </div>
          <div class="form-group">
            <label for="create-ingredientVol3">Ingredient Volume</label>
            <input type="text" id="create-ingredientVol3" class="form-control" aria-describedby="create-ingredientVol3"
              placeholder="Enter third ingredient">
          </div>

          <div class="form-group">
            <label for="create-ingredient4">Ingredient</label>
            <input type="text" id="create-ingredient4" class="form-control" aria-describedby="create-ingredient4"
              placeholder="Enter fourth ingredient">
          </div>
          <div class="form-group">
            <label for="create-ingredientVol4">Ingredient Volume</label>
            <input type="text" id="create-ingredientVol4" class="form-control" aria-describedby="create-ingredientVol4"
              placeholder="Enter fourth ingredient">
          </div>

          <div class="form-group">
            <label for="create-ingredient5">Ingredient</label>
            <input type="text" id="create-ingredient5" class="form-control" aria-describedby="create-ingredient5"
              placeholder="Enter fifth ingredient">
          </div>
          <div class="form-group">
            <label for="create-ingredientVol5">Ingredient Volume</label>
            <input type="text" id="create-ingredientVol5" class="form-control" aria-describedby="create-ingredientVol5"
              placeholder="Enter fifth ingredient">
          </div>

          <div class="form-group">
            <label for="create-ingredient6">Ingredient</label>
            <input type="text" id="create-ingredient6" class="form-control" aria-describedby="create-ingredient6"
              placeholder="Enter sixth ingredient">
          </div>
          <div class="form-group">
            <label for="create-ingredientVol6">Ingredient volume</label>
            <input type="text" id="create-ingredientVol6" class="form-control" aria-describedby="create-ingredientVol6"
              placeholder="Enter sixth ingredient">
          </div>

          <div class="form-group">
            <label for="create-ingredient7">Ingredient</label>
            <input type="text" id="create-ingredient7" class="form-control" aria-describedby="create-ingredient7"
              placeholder="Enter seventh ingredient">
          </div>
          <div class="form-group">
            <label for="create-ingredientVol7">Ingredient volume</label>
            <input type="text" id="create-ingredientVol7" class="form-control" aria-describedby="create-ingredientVol7"
              placeholder="Enter seventh ingredient">
          </div>

          <div class="form-group">
            <label for="create-ingredient8">Ingredient</label>
            <input type="text" id="create-ingredient8" class="form-control" aria-describedby="create-ingredient8"
              placeholder="Enter eighths ingredient">
          </div>
          <div class="form-group">
            <label for="create-ingredientVol8">Ingredient volume</label>
            <input type="text" id="create-ingredientVol8" class="form-control" aria-describedby="create-ingredientVol8"
              placeholder="Enter eighths ingredient">
          </div>

          <button id="submit-mixedDrink" class="btn btn-primary float-right">Submit</button>
        </form>

        </ul>
      </div>
    </div>


  </div>


</div>

   {{!-- Links --}}
  <div class="row">

    <div class="col-md-6 text-center">
      <a href="/" class="lint">
        <div class="links">
          Home
        </div>
      </a>
    </div>

    <div class="col-md-6 text-center lint">
      <a href="/search" class="lint">
        <div class="links">
          Search Drinks
        </div>
      </a>
    </div>

    <div class="col-md-6 text-center lint">
      <a href="/saved" class="lint">
        <div class="links">
          My Drinks
        </div>
      </a>
    </div>


  </div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>