<div class="container" id="home">

  {{!-- Title --}}
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="title">MY BREW</h1>
    </div>
  </div>

  <div class="row">
    <div class="tagline col-md-12 text-center">
      <p>Find the drinks you love... Love the drinks you find</p>
    </div>
  </div>

  {{!-- Drink Display --}}
  <div class="row">
    <div class="col-md-12 drinks">

    </div>
  </div>


  {{!-- Links --}}
  <div class="row">

    <div class="col-md-6 text-center lint">
      <a href="/" class="lint">
        <div class="links">
          Home
        </div>
      </a>
    </div>

    <div class="col-md-6 text-center">
      <a href="/search" class="lint">
        <div class="links">
          Search Drinks
        </div>
      </a>
    </div>


  </div>


</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>