<div class="container" id="home">

    {{!-- Title --}}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="title">MY BREW</h1>
        </div>
    </div>

    <div class="row">
        <div class="tagline col-md-12 text-center">
            <p>Find the drinks you love... Love the drinks you find</p>
        </div>
    </div>

 {{!-- Search Forms    --}}
<div class="row">
    <div class="col-xs-6"> 
        <form class="clearfix mb-4 searches" action="GET">
            <div class="form-group">
                <label for="search-name">Search by name</label>
                <input type="text" id="search-name" class="form-control" aria-describedby="search-name"
                    placeholder="Enter search name">
            </div>

            <button id="submit-name" class="btn btn-primary float-right">Submit</button>
        </form>
    

    <div class="col-xs-6"> 
        <form class="clearfix mb-4 searches" action="GET">
            <div class="form-group">
                <label for="search-ingredient">Search by ingredient</label>
                <input type="text" id="search-ingredient" class="form-control" aria-describedby="search-ingredient"
                    placeholder="Enter search ingredient">
            </div>

            <button id="submit-ingredient" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>
    
</div>

    {{!-- here we display the search results --}}
    {{!-- <h3>Examples:</h3>
                <ul id="example-list" class="list-group">
                    {{#each examples}}
                    <li data-id="{{this.id}}" class="list-group-item">
                        <a href="example/{{this.id}}">{{this.text}}</a>
                        <button class="btn btn-danger float-right delete">ｘ</button>
                    </li>
                    {{/each}}
                </ul> --}}
    <div id="search-display">

    </div>


</div>


  <div class="row">

    <div class="col-md-12 text-center">
      <div class="home-link">
        <a href="/">Home Page</a>
      </div>
    </div>

  </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/search.js"></script>