body {
  color: yellow;
  font-size: 2rem;
  background-image: url(../bartop.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Passion One', cursive;
}

.title {
  font-size: 10rem;
  margin-top: 5%;
}

.tagline {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  margin-top: -30px;
}

.links {
  color: yellow;
  border: 2px solid yellow;
  border-radius: 5px;
  text-decoration: none !important;
}

a {
  color: yellow;
}

.drinks {
  min-height: 500px;
}

.drinks-search {
  min-height: 438px;
}

.searches {
  /* width: 40%; */
  padding: 10px;
}

.subut {
  color: yellow;
}

.lint {
  text-decoration: none !important;
}